# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build Files
# =========================
build/
dist/

# =========================
# Vite Cache
# =========================
.vite/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor Files
# =========================
.vscode/
.idea/

# =========================
# Cache Files
# =========================
.cache/
.parcel-cache/

# =========================
# Coverage
# =========================
coverage/

# =========================
# Deployment Files
# =========================
.vercel/

# =========================
# Uploads Folder
# =========================
backend/uploads/

# =========================
# Temporary Files
# =========================
tmp/
temp/